html.light {
    --bg: rgb(241, 241, 241);
    --bg-light: rgb(248, 248, 248);
    --bg-rgb: 241, 241, 241;
    --additive: orange;
    --additive2: #009999;
    --additive2-rgb: 0, 153, 153;
    --additive-active: rgb(255, 183, 48);
    --additive-rgb: 255, 166, 0;
    --additive-50: rgba(255, 166, 0, 0.5);
    --text-dark: rgb(15, 15, 15);
    --text-main: rgb(36, 36, 36);
    --text-lighter: rgb(48, 48, 48);
    --text-light: rgb(63, 63, 63);
    --low-contrast: rgb(185, 185, 185);
    --lower-contrast: rgb(204, 204, 204);
    --low-contrast-15: rgb(185, 185, 185, 0.15);
    --low-contrast-30: rgb(185, 185, 185, 0.3);
    --low-contrast-60: rgb(185, 185, 185, 0.6);
    --low-contrast-90: rgb(185, 185, 185, 0.9);
    --green: rgb(34, 179, 34);
}

html.dark {
    --bg: rgb(19, 19, 19);
    --bg-light: rgb(15, 15, 15);
    --bg-rgb: 19, 19, 19;
    --additive: #ffa500;
    --additive2: #009999;
    --additive2-rgb: 0, 153, 153;
    --additive-active: rgb(190, 124, 0);
    --additive-rgb: 255, 166, 0;
    --additive-50: rgba(255, 166, 0, 0.5);
    --text-dark: rgb(247, 247, 247);
    --text-main: rgb(226, 226, 226);
    --text-lighter: rgb(180, 180, 180);
    --text-light: rgb(139, 139, 139);
    --low-contrast: rgb(58, 58, 58);
    --lower-contrast: rgb(39, 39, 39); 
    --low-contrast-15: rgb(58, 58, 58, 0.15);
    --low-contrast-30: rgb(58, 58, 58, 0.3);
    --low-contrast-60: rgb(58, 58, 58, 0.6);
    --low-contrast-90: rgb(58, 58, 58, 0.9);
    --green: rgb(34, 179, 34);
}